nav {
  width: 100%;
  margin-right: 1rem;
}

.nav-groups {
  height: 100%;
  padding: 2rem 0;
  overflow-x: visible;
  overflow-y: auto;
  max-height: 100vh;

}

.nav-groups > li + li {
  margin-top: 2rem;
}

.nav-groups > :first-child {
  padding-top: var(--doc-padding);
}

.nav-groups > :last-child {
  padding-bottom: 2rem;
  margin-bottom: var(--theme-navbar-height);
}
.nav-group.collapsed ul  {
  display: none;
}

.nav-group-title {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.1rem 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.nav-link a {
  margin: 1px;
  padding: 0.1rem 1rem;
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: block;
}

.nav-link a:hover,
.nav-link a:focus {
  background-color: var(--theme-bg-hover);
}

.nav-link a[aria-current='page'] {
  color: var(--theme-text-accent);
  background-color: var(--theme-bg-accent);
  font-weight: 600;
}

@media (min-width: 50em) {
  .nav-groups {
    padding: 0;
  }
}
